<div class="grid_7">

	<table id="crossword">
	<%	@grid.rows.times do |y| -%>
		<tr>
		<% @grid.columns.times do |x|
			cell = @grid.get(x, y) -%>
			<td class="<%= cell.nil? ? 'inactive' : '' %>">
				<%= "<label>#{}</label>" %>
			</td>
		<% end -%>
		</tr>
	<% end -%>	
	</table>
	
</div>
<div class="clues-box grid_4">
	
	<h3>Clues</h3>
	<h4>Across</h4>
	<ol class="clues">
	<%	@h_clues.each_with_index do |c, i| -%>
    <li><%="#{i+1}. " + c[:clue] + " (<strong>#{ c[:length] }</strong>)" %></li>
	<% end -%>	
	</ol>
	<h4>Down</h4>
	<ol class="clues">
	<%	@v_clues.each_with_index do |c, i| -%>
    <li><%="#{i+1}. " + c[:clue] + " (<strong>#{ c[:length] }</strong>)" %></li>
	<% end -%>	
	</ol>
	
</div>
