<div class="grid_7">

	<table id="crossword">
	<%	@grid.rows.times do |y| -%>
		<tr>
		<% @grid.columns.times do |x|
			cell = @grid.get(x, y) -%>
			<!-- cell.nil? ? '' : cell -->
			<td class="<%= cell.nil? ? 'inactive' : '' %>">
				
			</td>
		<% end -%>
		</tr>
	<% end -%>	
	</table>
	
</div>
<div class="clues-box grid_4">
	
	<h3>Clues</h3>
	<ol class="clues">
	<%	@words.each_with_index do |y, i| -%>
		<li><%="#{i+1}. " + y[3]%></li>
	<% end -%>	
	</ol>
	<!-- <h4>Across</h4>
	<ol class="clues">

	</ol>
	<h4>Down</h4>
	<ol class="clues">

	</ol> -->
	
</div>