.container_12, .container_16{margin-left:auto; margin-right:auto; width:960px}.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16{display:inline; float:left; margin-left:10px; margin-right:10px}.container_12 .grid_3, .container_16 .grid_4{width:220px}.container_12 .grid_6, .container_16 .grid_8{width:460px}.container_12 .grid_9, .container_16 .grid_12{width:700px}.container_12 .grid_12, .container_16 .grid_16{width:940px}.alpha{margin-left:0}.omega{margin-right:0}.container_12 .grid_1{width:60px}.container_12 .grid_2{width:140px}.container_12 .grid_4{width:300px}.container_12 .grid_5{width:380px}.container_12 .grid_7{width:540px}.container_12 .grid_8{width:620px}.container_12 .grid_10{width:780px}.container_12 .grid_11{width:860px}.container_16 .grid_1{width:40px}.container_16 .grid_2{width:100px}.container_16 .grid_3{width:160px}.container_16 .grid_5{width:280px}.container_16 .grid_6{width:340px}.container_16 .grid_7{width:400px}.container_16 .grid_9{width:520px}.container_16 .grid_10{width:580px}.container_16 .grid_11{width:640px}.container_16 .grid_13{width:760px}.container_16 .grid_14{width:820px}.container_16 .grid_15{width:880px}.container_12 .prefix_3, .container_16 .prefix_4{padding-left:240px}.container_12 .prefix_6, .container_16 .prefix_8{padding-left:480px}.container_12 .prefix_9, .container_16 .prefix_12{padding-left:720px}.container_12 .prefix_1{padding-left:80px}.container_12 .prefix_2{padding-left:160px}.container_12 .prefix_4{padding-left:320px}.container_12 .prefix_5{padding-left:400px}.container_12 .prefix_7{padding-left:560px}.container_12 .prefix_8{padding-left:640px}.container_12 .prefix_10{padding-left:800px}.container_12 .prefix_11{padding-left:880px}.container_16 .prefix_1{padding-left:60px}.container_16 .prefix_2{padding-left:120px}.container_16 .prefix_3{padding-left:180px}.container_16 .prefix_5{padding-left:300px}.container_16 .prefix_6{padding-left:360px}.container_16 .prefix_7{padding-left:420px}.container_16 .prefix_9{padding-left:540px}.container_16 .prefix_10{padding-left:600px}.container_16 .prefix_11{padding-left:660px}.container_16 .prefix_13{padding-left:780px}.container_16 .prefix_14{padding-left:840px}.container_16 .prefix_15{padding-left:900px}.container_12 .suffix_3, .container_16 .suffix_4{padding-right:240px}.container_12 .suffix_6, .container_16 .suffix_8{padding-right:480px}.container_12 .suffix_9, .container_16 .suffix_12{padding-right:720px}.container_12 .suffix_1{padding-right:80px}.container_12 .suffix_2{padding-right:160px}.container_12 .suffix_4{padding-right:320px}.container_12 .suffix_5{padding-right:400px}.container_12 .suffix_7{padding-right:560px}.container_12 .suffix_8{padding-right:640px}.container_12 .suffix_10{padding-right:800px}.container_12 .suffix_11{padding-right:880px}.container_16 .suffix_1{padding-right:60px}.container_16 .suffix_2{padding-right:120px}.container_16 .suffix_3{padding-right:180px}.container_16 .suffix_5{padding-right:300px}.container_16 .suffix_6{padding-right:360px}.container_16 .suffix_7{padding-right:420px}.container_16 .suffix_9{padding-right:540px}.container_16 .suffix_10{padding-right:600px}.container_16 .suffix_11{padding-right:660px}.container_16 .suffix_13{padding-right:780px}.container_16 .suffix_14{padding-right:840px}.container_16 .suffix_15{padding-right:900px}
html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear{background:none; border:0; clear:both; display:block; float:none; font-size:0; list-style:none; margin:0; padding:0; overflow:hidden; visibility:hidden; width:0; height:0}.clearfix:after{clear:both; content:'.'; display:block; visibility:hidden; height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent}body{line-height:1}ol, ul{list-style:none}blockquote, q{quotes:none}blockquote:before, blockquote:after, q:before, q:after{content:''; content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse; border-spacing:0}body{color:#000; font-size:75%; font-family:Calibri, "Lucida Sans","Lucida Sans Regular", 'Helvetica Neue', sans-serif; line-height:1.5em}html>body{font-size:12px}strong,dt{font-weight:bold}em{font-style:italic}blockquote{margin:1.5em; color:#666; font-style:italic}h1{font-size:3em; line-height:1; margin-bottom:0.5em}h2{font-size:2em; margin-bottom:0.75em}h3{font-size:1.5em; line-height:1; margin-bottom:1em}h4{font-size:1.2em; line-height:1.25; margin-bottom:1.25em; height:1.25em}h5{font-size:1em; font-weight:bold; margin-bottom:1.5em}h6{font-size:1em; font-weight:bold}h1 a:link, h1 a:visited{text-decoration:none; color:#000}h1 a:active, h1 a:hover, h1 a:focus{color:#505755}a:link{color:#505755; background-color:transparent}a:visited{color:#666}a:active{color:#000}a:hover, a:focus{color:#000}p{font-size:1em; margin:1.5em 0}p+p{text-indent:1em; margin-top:-1.5em}p img{float:left; margin:1.5em 1.5em 1.5em 0; padding:0}p img.right{float:right; margin:1.5em 0 1.5em 1.5em}.small{font-size:.8em; margin-bottom:1.875em; line-height:1.875em}.large{font-size:1.2em; line-height:2.5em; margin-bottom:1.25em}span.amp{font-family:Baskerville,"Goudy Old Style",Palatino,"Book Antiqua",serif; font-style:italic}ul{list-style:square}fieldset{text-align:left; border:none}fieldset ol, fieldset ul{padding:0; list-style:none}fieldset li{padding-bottom:1.5em; float:none; clear:left}fieldset.buttons{border-style:none}label{float:left; width:7em; margin-right:1em}fieldset.checkboxes label{margin:0 0 0 1em; width:20em}fieldset.checkboxes li{clear:both; padding:.75em}fieldset.checkboxes input{float:left}
/*Colours and stuff*/
body	{
	background-color: #FDFFF5;
}
	div.content	{
		padding-top: 18px;	padding-bottom: 18px;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
		background-color: #fff;
	}
/*Crossword*/
table#crossword	{ 
	margin: 0 auto;
	border: 1px solid #000;
	border-bottom: none;
	border-right: none;
	border-collapse: collapse;
}

table#crossword tr	{
	border-bottom: 1px solid #000;
}

table#crossword td	{
	position: relative;
	display: block;
	float: left;
	height: 28px;
	border-right: 1px solid #000;
	background-color: #fff;
}

table#crossword td, table#crossword td input	{
	text-align: center;
	text-transform: uppercase;
	width: 27px;
}

table#crossword td input	{
	height: 24px;
	border: none;
	padding: 0;
	background-color: #F4F9FF;
}

table#crossword td.inactive	{
	background-color: #000;
}

table#crossword td label	{
	position: absolute;
	top: -4px;
	left: 1px;
	font-size: 62.5%;
}
ol.clues	{
	list-style-type: none;
}
ol.clues	{
	margin-bottom: 18px;
}