<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Swords!</title>
	<link rel="stylesheet" href="/stylesheets/default.css" type="text/css" media="screen, projector" charset="utf-8" />
	<script src="/javascripts/swords.js" type="text/javascript" charset="utf-8"></script>
	
</head>

<body>

	<div class="container_12">
		
		<div class="header">
			
			<h1><a href="/games/show/" title="Swords! home" rel="home">Swords!</a></h1>
			
		</div>
		<div class="content grid_12">
			
			<%= yield %>
			
		</div>		
		
	</div>

</body>
</html>
